.sectionContent {
	margin-top: 8em;
}

#logo {
	font-family: 'Sirin Stencil';
	font-size: 3em;
	padding: 5px;
	letter-spacing: 5px;
	text-shadow: 1px -1px 3px rgba(0, 0, 0, 0.5);
}

#profile {
	font-size: 1.5em;
}

.body .ui.secondary.pointing.menu .active.item {
	border-bottom-color: rgb(150, 10, 10);
}

#projects {
	display: none;
	font-size: 1.25em;
}

#projects .header {
	font-size: 1.75em;
}

#contact {
	display: none;
}

#contact i.icon {
	font-size: 1.5em;
}