.sectionContent {
	margin-top: 8em;
	margin-bottom: 8em;
}

#logo {
	font-family: 'Sirin Stencil';
	font-size: 3em;
	padding: 5px;
	letter-spacing: 5px;
	text-shadow: 1px -1px 3px rgba(0, 0, 0, 0.5);
}

#profile {
	font-size: 1.5em;
}

.body .ui.secondary.pointing.menu .active.item {
	border-bottom-color: rgb(150, 10, 10);
}

#projects {
	font-size: 1.25em;
}

#projects .header {
	font-size: 1.75em;
}

#contact {
}

#contact i.icon {
	font-size: 1.5em;
<<<<<<< HEAD
}

#myPages {
	margin-bottom: 2em;
}

#contactMe {
	margin-top: 2em;
}

a.medium.image:hover {
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

div.ui.fluid.container {
	height: 10em;
	background: rgba(0, 0, 0, 0.3);
}

#footerDiv {
	height: 5em;
	background: rgba(0, 0, 0, 0.3);

=======
>>>>>>> parent of 9cd0157... Added email form
}