body {
  background: #fafafa;
}

.navbar-fixed {
  margin-bottom: 3em;
}

.brand-logo {
  font-family: 'Exo';
}

@media screen and (max-width: 450px) {
  .nav-wrapper .brand-logo {
    font-size: 1.76em;
  }
}

@media screen and (max-width: 375px) {
  .nav-wrapper .brand-logo {
    font-size: 1.298em;
  }
}

.divider {
  margin-bottom: 3em;
}

.card .card-content {
  padding: .5em 2em;
}

.card .card-content .card-title {
  margin: 0;
}

.card .card-reveal .card-title {
  margin-bottom: 1.5em;
}

.icons i {
  font-size: 5em;
}
